
<div
  class="bg-gradient-to-b from-[#3a5f9d] to-[#1fa2a8] rounded-2xl p-[25px] w-full max-w-md relative"
>
  <app-loader *ngIf="isLoading"></app-loader>

  <div class="w-20 h-1 bg-white flex justify-center text-center rounded-full mt-2 mb-4 drowline"></div>
  <h2 class="text-white text-lg font-semibold mb-6 text-center">
    Change Password
  </h2>

  <form [formGroup]="changePasswordForm" (ngSubmit)="changePassword()" class="space-y-5">
    <input
      type="password"
      placeholder="Enter Old Password"
      formControlName="oldPassword"
      class="w-full bg-transparent border border-white text-white rounded-full py-3 px-4 placeholder-gray-200 focus:outline-none"
    />

    <input
      type="password"
      placeholder="Enter New Password"
      formControlName="newPassword"
      class="w-full bg-transparent border border-white text-white rounded-full py-3 px-4 placeholder-gray-200 focus:outline-none"
    />

    <button
      type="submit"
      [disabled]="changePasswordForm.invalid || isLoading"
      class="w-full btn-bg-color text-white font-semibold rounded-full py-3 shadow-md"
    >
      {{ isLoading ? 'Updating...' : 'Submit' }}
    </button>

    <button
      type="button"
      (click)="closeModal()"
      class="w-full btn-bg-color text-white font-semibold rounded-full py-3 shadow-md"
    >
      Cancel
    </button>
  </form>
</div>
