  <!-- Top Section -->
  <div
    class="bg-white text-center py-4 mt-2 border-y flex items-center justify-center flex-col border-y-solid border-y-black shadow">
    <h2 class="text-teal-700 text-2xl font-bold">{{ gameName }}</h2>

    <!-- Stars display -->
    <div class="text-teal-700 font-bold mb-1">
      <ng-container *ngFor="let star of stars; let i = index">
        <span>{{ star }}</span>
        <ng-container *ngIf="i < stars.length - 1"> </ng-container>
      </ng-container>
    </div>

    <!-- Timer boxes -->
<div
  class="flex items-center justify-center space-x-3 py-1 px-4 rounded-md border border-orange-400"
  style="background: linear-gradient(90deg, #6EC1E4, #FBB040);"
>
  <!-- Agar open ka time khatam nahi hua -->
  <ng-container *ngIf="!(openHH === '00' && openMM === '00' && opensSS === '00'); else ankOpen">
    <div class="flex items-center space-x-1">
      <div class="bg-white text-sm font-bold px-1 rounded-md border-2 text-color">{{ openHH }}</div>
      <span class="text-white text-sm font-bold">:</span>
      <div class="bg-white text-sm font-bold px-1 rounded-md border-2 text-color">{{ openMM }}</div>
      <span class="text-white text-sm font-bold">:</span>
      <div class="bg-white text-sm font-bold px-1 rounded-md border-2 text-color">{{ opensSS }}</div>
    </div>
  </ng-container>
  <ng-template #ankOpen>
    <!-- Jab open zero ho gaya, tab close timer ya close message dikhao -->
    <ng-container *ngIf="!(closeHH === '00' && closeMM === '00' && closesSS === '00'); else ankClose">
      <div class="flex items-center space-x-1">
        <div class="bg-white text-sm font-bold px-1 rounded-md border-2 text-color">{{ closeHH }}</div>
        <span class="text-white text-sm font-bold">:</span>
        <div class="bg-white text-sm font-bold px-1 rounded-md border-2 text-color">{{ closeMM }}</div>
        <span class="text-white text-sm font-bold">:</span>
        <div class="bg-white text-sm font-bold px-1 rounded-md border-2 text-color">{{ closesSS }}</div>
      </div>
    </ng-container>
    <ng-template #ankClose>
      <span class="text-white text-sm font-bold blink-text">अंक आ रहा है</span>
    </ng-template>
  </ng-template>
</div>



  </div>
