<div class="admin-dashboard">
    <div class="flex">
        <app-admin-sidebar />
        <div class="content">
            <div class="head">
                <h4>All User</h4>
            </div>
            <div class="head center">
                <div class="flex">
                    <input type="text" placeholder="search...">
                    <div class="btn">
                        <img src="/assets/images/dashboard/icons/search-white.svg" alt="">
                    </div>
                </div>
                <h4>Coming soon result</h4>
            </div>
            <div>
                <div *ngFor="let game of comingSoonGames" class="game flex relative">
                    <div class="w-[130px]">
                        <div
                            class="text-white font-bold bg-[#20A2A0] h-[120px] px-4 flex justify-center items-center absolute -top-[20px] rounded-tl-[20px] rounded-br-[20px] rotate-[5deg] name">
                            <span class="-rotate-[5deg]">{{ game.game_name }}</span>
                        </div>
                    </div>
                    <div>
                        <div class="time">
                            <div>
                            {{ formatTime(game.openCountdown).h }}
                            </div>
                            :
                            <div>
                             {{ formatTime(game.openCountdown).m }}
                            </div>
                            :
                            <div>
                            {{ formatTime(game.openCountdown).s }}
                            </div>
                        </div>
                        <h5 class="text-center font-bold text-[#20A2A0] mt-[4px]">Open</h5>
                    </div>
                  <div class="game-detail">
                               <input type="text" class="box w-[100px] "
                                [(ngModel)]="game.patte1"
                           [disabled]="!game.openInputEnabled" 
                             maxlength="3"
                            min="0"
                            max="999"
                            (input)="game.patte1 = restrictToThreeDigits(game.patte1)"
                                placeholder="---" />

                            <span></span>
                            <div class="flex gap-x-2">
                               <input type="text" class="box w-[50px]"
                                [(ngModel)]="game.patte1_open"
                               [disabled]="!game.openInputEnabled"
                                 maxlength="1"
                                    min="0"
                                    max="9"
                                    (input)="game.patte1_open = restrictToOneDigit(game.patte1_open)"
                                placeholder="---" />
                                                        <input type="text" class="box w-[50px]"
                                [(ngModel)]="game.patte2_close"
                               [disabled]="!game.closeInputEnabled"
                                 maxlength="1"
                                    min="0"
                                    max="9"
                                    (input)="game.patte2_close = restrictToOneDigit(game.patte2_close)"
                                placeholder="---" />

                            </div>
                            <span></span>
                              <input type="text"  class="box w-[100px]" 
                                [(ngModel)]="game.patte2"
                             [disabled]="!game.closeInputEnabled"
                                 maxlength="3"
                            min="0"
                            max="999"
                                (input)="game.patte2 = restrictToOneDigit(game.patte2)"
                                placeholder="---" />



                        </div>
                    <div>
                        <div class="time">
                           <div>{{ formatTime(game.closeCountdown).h }}</div> :
                            <div>{{ formatTime(game.closeCountdown).m }}</div> :
                            <div>{{ formatTime(game.closeCountdown).s }}</div>
                        </div>
                        <h5 class="text-center font-bold text-[#20A2A0] mt-[4px]">Closed</h5>
                    </div>

                    <button  class="bg-[#0D5F5E] text-white border-1 border-[#FFFFFF] rounded-[4px] py-2 px-4" (click)="submitGame(game)">
                        Submit
                    </button>
                </div>
            </div>
            <div class="head center">

                <h4>All Game result</h4>
            </div>
            <div>
                <div *ngFor="let game of allGames" class="game flex relative bg-[#20A2A0] type-2">
                    <div class="name-2">
                        <div>
                            <span>{{ game.game_name }}</span>
                        </div>
                    </div>
                    <div class="right">
                        <div>
                            <div class="time">
                          <div>
                            {{ formatTime(game.openCountdown).h }}
                            </div>
                            :
                            <div>
                             {{ formatTime(game.openCountdown).m }}
                            </div>
                            :
                            <div>
                            {{ formatTime(game.openCountdown).s }}
                            </div>
                            </div>
                            <h5 class="text-center font-bold text-[#20A2A0] mt-[4px]">Open</h5>
                        </div>
                        <div class="game-detail">
                                <input type="text" id="patte1" class="box w-[100px] " [(ngModel)]="game.patte1" [readonly]="!game.openInputEnabled">

                            <span></span>
                            <div class="flex gap-x-2">
                                <input type="text" id="patte1_open" class="box w-[50px]" [(ngModel)]="game.patte1_open" [readonly]="!game.openInputEnabled">
                                <input type="text" id="patte2_close" class="box w-[50px]" [(ngModel)]="game.patte2_close" [readonly]="!game.closeInputEnabled">

                            </div>
                            <span></span>
                                <input type="text" id="patte2" class="box w-[100px]" [(ngModel)]="game.patte2" [readonly]="!game.closeInputEnabled">


                        </div>
                        <div>
                            <div class="time">
                                  
                                <div>
                            {{ formatTime(game.closeCountdown).h }}
                            </div>
                            :
                            <div>
                             {{ formatTime(game.closeCountdown).m }}
                            </div>
                            :
                            <div>
                            {{ formatTime(game.closeCountdown).s }}
                            </div>
                            </div>
                            <h5 class="text-center font-bold text-[#20A2A0] mt-[4px]">Closed</h5>
                        </div>
                        <!-- <div class="bg-[#0D5F5E] text-white border-1 border-[#FFFFFF] cursor-pointer rounded-[4px] py-2 px-4">Submit
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>