<div class="admin-dashboard">
    <div class="flex">
        <app-admin-sidebar />
        <div class="content">
            <div class="head">
                <h4>All User</h4>
            </div>
            <div class="grid grid-cols-4 px-4 py-4 gap-x-4">
                <div *ngFor="let data of cardsData" class="card" [style.background]="data.bgColor">
                    <div class="card-header" [style.backgroundColor]="data.color">
                        <h5 class="card-title">{{data.title}}</h5>
                    </div>
                    <div class="card-body">
                        <div class="left">
                            {{data.value}}
                        </div>
                        <div class="right">
                            <div class="badge" [style.background]="data.color">
                                <img src="/assets/images/dashboard/icons/triangle.svg" alt="">
                                {{data.percentage}}
                            </div>
                            <div class="compare">
                                {{data.compareText}}
                            </div>
                        </div>
                    </div>
                </div>
    
            </div>
            <div class="flex px-4 py-4 justify-between border-t-2 border-b-2 border-[#FB8500]">
                <div class="flex gap-x-4 items-center">
                    <h5 class="font-bold">Show</h5>
                    <div class="border-2 border-[#219EBC] rounded-sm px-2 py-2">
                        <select name="page" class="px-2" id="">
                            <option value="20">20</option>
                            <option value="20">20</option>
                        </select>
                    </div>
                    <div class="relative">
                        <input class="checkbox" type="text" class="border-2 border-[#219EBC] rounded-sm px-4 py-2"
                            placeholder="Search Anything....">
                        <img src="/assets/images/dashboard/icons/search-theme.svg"
                            class="absolute right-2 top-[50%] translate-y-[-50%]" alt="">
                    </div>
                </div>
                <div class="flex gap-x-2">
                    <button
                        class="rounded-sm flex justify-between items-center text-[14px] border-2 border-[#219EBC] px-4 py-1 font-[500] gap-x-2"
                        style="background: linear-gradient(90deg, rgba(33, 158, 188, 0.1) 0%, rgba(251, 133, 0, 0.1) 100%);">
                        <img src="/assets/images/dashboard/icons/download.svg" alt="">
                        <div>
                            Download
                        </div>
                    </button>
                    <button
                        class="rounded-sm flex justify-between items-center text-[14px] border-2 border-[#219EBC] px-4 py-1 font-[500] gap-x-2"
                        style="background: linear-gradient(90deg, rgba(33, 158, 188, 0.1) 0%, rgba(251, 133, 0, 0.1) 100%);">
                        <img src="/assets/images/dashboard/icons/create.svg" alt="">
                        <div>
                            Create
                        </div>
                    </button>
                    <button
                        class="rounded-sm flex justify-between items-center text-[14px] border-2 border-[#219EBC] px-4 py-1 font-[500] gap-x-2"
                        style="background: linear-gradient(90deg, rgba(33, 158, 188, 0.1) 0%, rgba(251, 133, 0, 0.1) 100%);">
                        <img src="/assets/images/dashboard/icons/delete.svg" alt="">
                        <div>
                            Delete
                        </div>
                    </button>
                </div>
            </div>
            <div class="user-table-container">
                <table class="user-table">
                    <thead>
                        <tr>
                            <th><input class="checkbox" type="checkbox" /></th>
                            <th>Name</th>
                            <th>Status</th>
                            <th>Joining Date</th>
                            <th>Mobile Number</th>
                            <th>Main Balance</th>
                            <th>Bonus Balance</th>
                            <th>Parent</th>
                            <th>User Dashboard</th>
                            <th>View</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let user of users">
                            <td><input class="checkbox" type="checkbox" /></td>
                            <td>{{ user.name }}</td>
                            <td>
                                <span class="status" [ngClass]="{ 'disabled': !user.enabled, 'enabled': user.enabled }">
                                    {{ user.enabled?'Enabled':'Disabled' }}
                                </span>
                            </td>
                            <td>{{ user.date }}</td>
                            <td>{{ user.phone }}</td>
                            <td>{{ user.amountPaid }}</td>
                            <td>{{ user.totalAmount }}</td>
                            <td>{{ user.id }}</td>
                            <td><button class="dashboard-btn">Dashboard</button></td>
                            <td>
                                <button class="view-btn flex items-center">
                                    View
                                    <span class="arrow">
                                        <img src="/assets/images/icons/arrow-left-white.svg" class="rotate-[90deg] w-[15px]"
                                            alt="" />
                                    </span>
                                </button>
                            </td>
                        </tr>
    
                        <!-- Repeat <tr> for remaining rows -->
                    </tbody>
                </table>
            </div>
            <div class="pagination flex justify-between px-4 py-2"
                style="background: linear-gradient(90deg, #FB8500 0%, #219EBC 100%);">
                <div class="text-white flex items-center">
                    Showing 1-20 of 70 results
                </div>
                <div class="flex gap-x-2 items-center">
                    <img src="/assets/images/icons/arrow-left-white.svg" class="w-[15px] rotate-[-180deg]" alt="">
                    <span *ngFor="let i of [1,2,3,4,5,6]" class="text-white -translate-y-[2px]">{{i}}</span>
                    <img src="/assets/images/icons/arrow-left-white.svg" class="w-[15px] rotate-[0deg]" alt="">
                </div>
                <div class="flex gap-x-2 items-center">
                    <span class="text-white">Items per page</span>
                    <div class="border-2 border-white text-white rounded-sm px-2 py-2">
                        <select name="page" class="px-2 bg-transparent" id="">
                            <option value="20">20</option>
                            <option value="20">20</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
