<div class="admin-dashboard">
  <div class="lg:flex">
    <app-admin-sidebar />
    <div class="content">

      <div class="head">
        <h1 class="text-2xl leading-[48px] font-semibold text-gray-800 flex aling-center">General</h1>
      </div>
      <div class="p-1">


        <div class="bg-white rounded-lg shadow p-6 space-y-8">

          <!-- Core Settings -->
          <section class="flex justify-start w-full resposive-mob">
            <h2 class="font-semibold text-lg mb-4 w-[15%] resposive-mob-one">Core Settings</h2>
            <div class="grid grid-cols-1 md:grid-cols-2 gap-4 w-[85%] resposive-mob-third">
              <div class="flex gap-4 items-center">
                <label class="text-sm font-medium flex text-nowrap">Site Name *</label>
                <input type="text" class="input border rounded w-full px-2 py-1 bg-white focus:outline-none focus:ring"
                  value="Sa Robotic">
              </div>

              <div class="flex gap-4 items-center">
                <label class="text-sm font-medium flex text-nowrap">Copyright Text *</label>
                <input type="text" class="input border rounded w-full px-2 py-1 bg-white focus:outline-none focus:ring"
                  value="Powered By - Sa Developer Store">
              </div>

              <div class="flex gap-4 items-center">
                <label class="text-sm font-medium flex text-nowrap">Phone Number</label>
                <input type="text" class="input border rounded w-full px-2 py-1 bg-white focus:outline-none focus:ring"
                  value="+91 831598349">
              </div>

              <div class="flex gap-4 items-center">
                <label class="text-sm font-medium flex text-nowrap">Email Address *</label>
                <input type="email" class="input border rounded w-full px-2 py-1 bg-white focus:outline-none focus:ring"
                  value="support@sarobotic.in">
              </div>

              <div class="md:col-span-2 flex gap-4 items-center">
                <label class="text-sm font-medium flex text-nowrap">Address</label>
                <input type="text" class="input border rounded w-full px-2 py-1 bg-white focus:outline-none focus:ring"
                  value="###">
              </div>

              <div class="md:col-span-2 flex gap-4 items-center">
                <label class="text-sm font-medium flex text-nowrap">Google Map Iframe Code</label>
                <input type="text" class="input border rounded w-full px-2 py-1 bg-white focus:outline-none focus:ring"
                  value="###">
              </div>


              <div class="flex gap-4 items-center">
                <label class="text-sm font-medium flex text-nowrap">Android File Name</label>
                <input type="text" class="input border rounded w-full px-2 py-1 bg-white focus:outline-none focus:ring"
                  value="###">
              </div>

              <div class="flex gap-4 items-center">
                <label class="text-sm font-medium flex text-nowrap">Android File APK link</label>
                <input type="text" class="input border rounded w-full px-2 py-1 bg-white focus:outline-none focus:ring"
                  value="###">
              </div>

              <div class="flex gap-4 items-center">
                <label class="text-sm font-medium flex text-nowrap">API Name</label>
                <input type="text" class="input border rounded w-full px-2 py-1 bg-white focus:outline-none focus:ring"
                  value="###">
              </div>

              <div class="flex gap-4 items-center">
                <label class="text-sm font-medium flex text-nowrap">API link</label>
                <input type="text" class="input border rounded w-full px-2 py-1 bg-white focus:outline-none focus:ring"
                  value="###">
              </div>
            </div>
          </section>


          <section class="flex justify-start w-full resposive-mob">
            <h2 class="font-semibold text-lg mb-4 w-[15%] resposive-mob-one">Site Appearance</h2>
            <div class="grid grid-cols-1 md:grid-cols-2 gap-4 w-[85%] resposive-mob-third">
              <div>
                <label class="text-sm font-medium block mb-1">Primary Color</label>
                <div class="flex items-center border rounded-md px-3 py-2 gap-3">
                  <input type="color" value="#ec8737" class="w-8 h-8 border rounded cursor-pointer">
                  <input type="text" value="#ec8737" class="flex-1 text-sm outline-none">
                  <button class="text-gray-400 hover:text-gray-600">
                    🔄
                  </button>
                </div>
              </div>

              <div>
                <label class="block text-sm font-medium flex text-nowrap text-gray-600 mb-1">
                  Primary Text Color
                </label>
                   <div class="flex items-center border rounded-md px-3 py-2 gap-3">
                  <input type="color" value="#ec8737" class="w-8 h-8 border rounded cursor-pointer">
                  <input type="text" value="#ec8737" class="flex-1 text-sm outline-none">
                  <button class="text-gray-400 hover:text-gray-600">
                    🔄
                  </button>
                </div>
              </div>

              <div>
                <label class="block text-sm font-medium flex text-nowrap text-gray-600 mb-1">
                  Secondary Color
                </label>
                  <div class="flex items-center border rounded-md px-3 py-2 gap-3">
                  <input type="color" value="#ec8737" class="w-8 h-8 border rounded cursor-pointer">
                  <input type="text" value="#ec8737" class="flex-1 text-sm outline-none">
                  <button class="text-gray-400 hover:text-gray-600">
                    🔄
                  </button>
                </div>
              </div>

              <div>
                <label class="block text-sm font-medium flex text-nowrap text-gray-600 mb-1">
                  Tertiary Color
                </label>
                   <div class="flex items-center border rounded-md px-3 py-2 gap-3">
                  <input type="color" value="#ec8737" class="w-8 h-8 border rounded cursor-pointer">
                  <input type="text" value="#ec8737" class="flex-1 text-sm outline-none">
                  <button class="text-gray-400 hover:text-gray-600">
                    🔄
                  </button>
                </div>
              </div>

              <div>
                <label class="block text-sm font-medium flex text-nowrap text-gray-600 mb-1">
                  Site Logo <span class="text-red-500">(438×117)</span>
                </label>
                <input type="file" class="w-full border rounded bg-white focus:outline-none focus:ring">
                <p class="text-xs text-gray-400 mt-1">
                  Accepted Site Logo Type: png, jpg, jpeg
                </p>
              </div>

              <div>
                <label class="block text-sm font-medium flex text-nowrap text-gray-600 mb-1">
                  Square Logo <span class="text-red-500">(160×160)</span>
                </label>
                <input type="file" class="w-full border rounded bg-white focus:outline-none focus:ring">
                <p class="text-xs text-gray-400 mt-1">
                  Square Logo Type: png, jpg, jpeg
                </p>
              </div>

              <div>
                <label class="block text-sm font-medium flex text-nowrap text-gray-600 mb-1">
                  Panel Logo <span class="text-red-500">(350*75)</span>
                </label>
                <input type="file" class="w-full border rounded bg-white focus:outline-none focus:ring">
                <p class="text-xs text-gray-400 mt-1">
                  Panel Logo Type: png, jpg, jpeg
                </p>
              </div>

              <div>
                <label class="block text-sm font-medium flex text-nowrap text-gray-600 mb-1">
                  Favicon <span class="text-red-500">(160*160)</span>
                </label>
                <input type="file" class="w-full border rounded bg-white focus:outline-none focus:ring">
                <p class="text-xs text-gray-400 mt-1">
                  Accepted Favicon Type: png, jpg, jpeg
                </p>
              </div>
            </div>
          </section>


          <section class="flex justify-start w-full resposive-mob">
            <h2 class="font-semibold text-lg mb-4 w-[15%] resposive-mob-one">Theme Settings</h2>
            <div class="grid grid-cols-1 md:grid-cols-2 gap-4 w-[85%] resposive-mob-third">
              <div>
                <label class="text-sm font-medium flex text-nowrap">Website Direction</label>
                <select class="input border w-full rounded px-2 py-1 bg-white focus:outline-none focus:ring">
                  <option>Left To Right</option>
                  <option>Right To Left</option>
                </select>
              </div>

              <div>
                <label class="text-sm font-medium flex text-nowrap">Default Theme Mode</label>
                <select class="input border w-full rounded px-2 py-1 bg-white focus:outline-none focus:ring">
                  <option>Light Mode</option>
                  <option>Dark Mode</option>
                </select>
              </div>
            </div>
          </section>

          <!-- Site Appearance -->

          <section class="flex w-full resposive-mob">
            <!-- Left Title -->
            <h2 class="font-semibold text-lg w-[15%] resposive-mob-one">Advanced Settings</h2>

            <!-- Right Content -->
            <div class="grid grid-cols-1 md:grid-cols-2 gap-6 w-full lg:w-[85%] resposive-mob-third">

              <!-- Time Zone -->
              <div>
                <label class="text-sm font-medium mb-1 block">Time Zone</label>
                <select
                  class="w-full border rounded-md px-3 py-2 text-sm bg-white focus:outline-none focus:ring-2 focus:ring-orange-400">
                  <option>Asia/Kolkata</option>
                </select>
              </div>

              <!-- Country Code -->
              <div>
                <label class="text-sm font-medium mb-1 block">Country Code</label>
                <select
                  class="w-full border rounded-md px-3 py-2 text-sm bg-white focus:outline-none focus:ring-2 focus:ring-orange-400">
                  <option>India +91</option>
                </select>
              </div>

              <!-- Paginate Number -->
              <div>
                <label class="text-sm font-medium mb-1 block">
                  Paginate Number <span class="text-red-500">*</span>
                </label>
                <input type="number" value="20"
                  class="w-full border rounded-md px-3 py-2 text-sm focus:outline-none focus:ring-2 focus:ring-orange-400">
              </div>

              <!-- Debug Mode -->
              <div>
                <label class="text-sm font-medium">Debug Mode</label>
                <div class="flex items-center justify-between border rounded-md px-4 py-1.5 bg-gray-100">
                  <span class="text-sm font-medium">Turn On/Off Debug Mode</span>
                  <label class="relative inline-flex items-center cursor-pointer">
                    <input type="checkbox" checked class="sr-only peer">
                    <div class="w-11 h-6 bg-gray-300 rounded-full peer peer-checked:bg-orange-500
           after:content-[''] after:absolute after:top-0.5 after:left-0.5
           after:bg-white after:rounded-full after:h-5 after:w-5
           after:transition-all peer-checked:after:translate-x-5">
                    </div>
                  </label>
                </div>
              </div>

              <div>
                <label class="text-sm font-medium">Landing Page</label>
                <div class="flex items-center justify-between border rounded-md px-4 py-1.5 bg-gray-100">
                  <span class="text-sm font-medium">Turn On/Off Landing Page</span>
                  <label class="relative inline-flex items-center cursor-pointer">
                    <input type="checkbox" checked class="sr-only peer">
                    <div class="w-11 h-6 bg-gray-300 rounded-full peer peer-checked:bg-orange-500
           after:content-[''] after:absolute after:top-0.5 after:left-0.5
           after:bg-white after:rounded-full after:h-5 after:w-5
           after:transition-all peer-checked:after:translate-x-5">
                    </div>
                  </label>
                </div>
              </div>

              <div>
                <label class="text-sm font-medium">Force SSL</label>
                <div class="flex items-center justify-between border rounded-md px-4 py-1.5 bg-gray-100">
                  <span class="text-sm font-medium">Turn On/Off Force SSL</span>
                  <label class="relative inline-flex items-center cursor-pointer">
                    <input type="checkbox" checked class="sr-only peer">
                    <div class="w-11 h-6 bg-gray-300 rounded-full peer peer-checked:bg-orange-500
           after:content-[''] after:absolute after:top-0.5 after:left-0.5
           after:bg-white after:rounded-full after:h-5 after:w-5
           after:transition-all peer-checked:after:translate-x-5">
                    </div>
                  </label>
                </div>
              </div>


            </div>
          </section>

          <div class="flex justify-end gap-3">
            <button class="px-4 py-2 border rounded text-gray-600">Reset</button>
            <button class="px-4 py-2 bg-orange-500 text-white rounded">Save</button>
          </div>

        </div>
      </div>