footer {
    border-radius: 2px;
    border: 1px solid rgba(0, 0, 0, 0.50);
    background: linear-gradient(180deg, #4A628A 0%, #0A7E8D 100%);
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.2);
}
.footer-nav-item.active {
  background: linear-gradient(to bottom, #4A628A, #0A7E8D);
  box-shadow: 0 -2px 8px rgba(0,0,0,0.3);
  border-radius: 4px;
  color: white;
}
.footer-nav-item {
  color: black;
}