  <!-- <header class="bg-gray-200 text-center border-b border-b-solid border-b-black shadow">
    <h1 class="text-[2rem] font-bold tracking-widest text-[#0A7E8D] akboss-text">AKBOSS</h1>
  </header> -->

  <header class="bg-gray-200 text-center border-b border-b-solid border-b-black shadow flex justify-between items-center px-4 py-2">
  <!-- Left side empty space (for balance) -->
  <div class="w-1/3"></div>

  <!-- Center Logo -->
  <div class="w-1/3 flex justify-center">
    <h1 class="md:text-[2rem] font-bold tracking-widest text-[#0A7E8D] akboss-text">AKBOSS</h1>
  </div>

  <!-- Right side button -->
  <div class="w-1/3 flex justify-end">
    
    <button (click)="login()" class="flex items-center gap-1 px-4 py-1 bg-[#0A7E8D] font-semibold text-white rounded">
      Login<i class="fa fa-user"></i> 
    </button>
  </div>
</header>
