
<app-header></app-header>
<div class="min-h-[90vh] bg-gradient-to-b mt-12 from-[#3a5f9d] to-[#1fa2a8] flex flex-col items-center p-4">
  <!-- Top Drag Bar -->
  <!-- <div class="w-20 h-1 bg-white rounded-full mt-2 mb-4"></div> -->

  <!-- Title -->
  <h2 class="text-white text-lg font-semibold mb-6">Change Password</h2>

  <!-- Form -->
  <form class="w-full max-w-md space-y-5">
    <!-- First Name -->
    <div class="relative">
      <input type="text" placeholder="Enter Old Password"
        value="Admin@1234"
        class="w-full bg-transparent border border-white text-white rounded-full py-3 px-4 pr-12 placeholder-gray-200 focus:outline-none" />
      
    </div>

 <div class="relative">
      <input type="text" placeholder="Enter New Password"
        value="Admin@1234"
        class="w-full bg-transparent border border-white text-white rounded-full py-3 px-4 pr-12 placeholder-gray-200 focus:outline-none" />
    
    </div>

    <!-- Save Button -->
    <button type="submit"
      class="w-full bg-white text-[#1fa2a8] font-semibold rounded-full py-3 shadow-md">
      Save
    </button>
  </form>
</div>

<app-footer></app-footer>
