<div class="sidebar w-[280px] h-full lg:block hidden">
    <div class="logo bg-[#F77704E5] flex justify-center items-center h-[90px]">
        <img src="/assets/images/dashboard/images/logo.png" alt="">
    </div>
    <div class="admin-navigation flex">
        <div class="left px-4">
            <ul>
                <li *ngFor="let link of links">
                    <a [href]='link.href' [class.active]="link.active">
                        <img [src]="getImageUrl(link.img, link.active)" alt="">{{link.text}}
                    </a>
                </li>
            </ul>
        </div>
        <div class="right flex-1">
            <ul>
                <li *ngFor="let link of subLinks">
                    <a [href]="link.href" [class.active]="link.active">
                        <img [src]="getImageUrl(link.img, !link.active)" alt="">{{link.text}}
                    </a>
                </li>
            </ul>
        </div>

    </div>
</div>