<app-header></app-header>
<div class="w-full max-w-md mx-auto mt-16 bg-gray-50 min-h-screen">

  <!-- Header -->

  <!-- Earnings Section -->
  <div class="grid grid-cols-2 gap-4 p-4 mt-4 card-bg">
    <!-- Today Earn -->
    <div class="flex flex-col justify-center items-center gap-y-2">
      <div class="bg-white shadow-md rounded p-1 font-semibold text-center w-full">
      <button class="card-layout text-[#0A7E8D] text-xs">Today Earn</button>
    </div>
      <div class="bg-white shadow-md rounded p-1 font-semibold text-center w-full">
        <button class="card-layout text-xs">Amount ₹ 500</button>
    </div>
      <div class="bg-white shadow-md rounded p-1 font-semibold text-center w-full">
      <button (click)="copyInviteLink()" class="card-layout text-xs">Copy Invite Link</button>
    </div>
    </div>

<div class="flex flex-col justify-center items-center gap-y-2">
      <div class="bg-white shadow-md rounded p-1 font-semibold  text-center w-full">
    <button class="card-layout text-[#0A7E8D] text-xs">1 Week Earn</button>
  </div>
    <div class="bg-white shadow-md rounded p-1 font-semibold text-center w-full">
      <button class="card-layout text-xs">Amount ₹ 500</button>
  </div>
    <div class="bg-white shadow-md rounded p-1 font-semibold text-center w-full">
    <button (click)="shareInvite()" class="card-layout text-xs">Share</button>
  </div>
</div>
  </div>

  <!-- Referral List -->
  <div class="px-4 mt-6">
    <h2 class="text-center mb-2 referral-text">All Referral List</h2>
    <div class="overflow-x-auto">
      <table class="w-full text-sm border border-gray-200 rounded-lg">
        <thead class="font-medium text-white header-bg">
          <tr>
            <th class="border-b px-2 py-2">S.No.</th>
            <th class="border-b px-2 py-2">Invite Code</th>
            <th class="border-b px-2 py-2">Username</th>
            <th class="border-b px-2 py-2">phone</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of referralList; let i = index" class="text-center">
            <td class="border-b px-2 py-2">{{ i+1 }}</td>
            <td class="border-b px-2 py-2">{{ item.invite_code }}</td>
            <td class="border-b px-2 py-2"> {{ item.invitee_username }}</td>
            <td class="border-b px-2 py-2"> {{ item.invitee_phone }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

</div>
<app-footer></app-footer>